* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Open Sans";
}

button>i {
  margin-right: 3px
}

.btn-primary {
  background-color: #FD6E0A;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.default-margin {
  margin: 0 150px;
}

header {
  background-color: #FFF8F3;
  height: 520px;
  position: relative;
}

.header-img {
  width: 60px;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-style {
  color: #FD6E0A;
}

nav>ul {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 50px;
}

li {
  display: inline;


}

li>a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.btn-container {
  margin-top: 20px;
}

.download-cv {
  margin-right: 10px;
}

.banner-content {
  margin-top: 100px;

}

.banner-name {
  font-size: 40px;
  margin-bottom: 5px
}

.banner-quotes {
  width: 500px;
}

.banner-img {
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  width: 500px;
  background-size: 500px;
  background-position: bottom right;
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
}

.img-dev {
  width: 300px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) and (orientation: portrait) {

  .default-margin {
    margin: 0 10px;
  }

  .btn-primary {
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
  }

  header {
    height: max-content;
  }

  .header-img {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-top: 20px;
  }

  nav>ul {
    margin-top: 10px;
    gap: 60px;
  }

  .banner-content {
    margin-top: 30px;
    text-align: center;
  }

  .banner-name {
    font-size: 30px;
    color: #FD6E0A;
  }

  .banner-quotes {
    width: 100%;
  }

  .banner-img {
    margin-top: 20px;
    background-image: initial;
    background-repeat: initial;
    width: initial;
    background-size: initial;
    background-position: initial;
    position: initial;
    display: flex;
    justify-content: center;
    right: initial;
    bottom: initial;
  }

  .img-dev {
    width: 50%;
    margin-left: 0px;
  }

}